name: CI

on: [pull_request]

jobs:
  test_build:
    name: Test build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Test
        run: |
          docker-compose -f docker-compose.test.yaml up --build --no-deps --abort-on-container-exit --exit-code-from oaipmh
          docker-compose -f docker-compose.test.yaml down
