name: Image on Commit

on:
  push:
    branches: 
      - "master"


jobs:
  image-on-commit:
    name: Build and deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create image tags
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          flavor: latest=true # adds :latest tag to outputs.tags
          tags: type=sha,format=long,prefix= # adds :<sha> tag to outputs.tags

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64/v8
          push: ${{github.event_name == 'push' }}
          tags: ${{ steps.meta.outputs.tags }}
